@use "../vars";

.back-to-top {
    border-radius: vars.$radius-md;
    position: fixed;
    right: 30px;
    z-index: 1050;
    padding: .3rem .5rem;
    width: initial;
    background: var(--color-font-aux);
    font-size: vars.$font-xs;
    opacity: 0.6;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition-property: bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    bottom: -40px;
  }
  
  .back-top-active {
    bottom: 30px;
  }
  
  @media (max-width: 767px) {
  
    .back-to-top {
      right: 10px;
    }
  
  
    .back-top-active {
      bottom: 10px;
    }
  }
