.header {
    position: sticky;
    background-color: $color-bg;
    box-shadow: $box-shadow;
    top: 0;
    z-index: 5;
    user-select: none;
    flex: none;

    .navbar {
        margin-left: 1rem;
        margin-right: 1rem;
        // padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;

        &-logo {
            @include responsive('md') {
                margin-left: 4rem;
            }

            h1 {
                font-size: 2rem;
            }
        }

        @include responsive('md') {
            &-btn {
                display: none;
            }
        }

        &-btn {
            padding: .5rem;
        }

        &-item {
            @include responsive('md') {
                line-height: 4.5rem;
                display: inline-block;
                padding: 0 1rem;
                margin-top: 0;
            }

            font-weight: $weight-medium;
            margin-top: 1rem;
            display: block;
            border-radius: $radius-sm;
            cursor: pointer;
            color: inherit;
            position: relative;
            transition: background-color 100ms ease;
            background-color: transparent;

            &:hover {
                color: $color-primary;
                text-decoration: none;
            }

            &-active {
                color: $color-primary;
            }
        }

        &-menu {
            @include responsive('md') {
                width: auto;
                flex-grow: 1;
                justify-content: space-between;
                align-items: center;
                display: flex !important;
            }

            z-index: 2;
            width: 100%;
            display: block;

            &-start {
                @include responsive('md') {
                    padding-bottom: 0;
                    flex-grow: 1;
                    display: flex;
                    border-bottom-width: 0;
                    margin-left: 4rem;
                }

                padding-bottom: 1rem;
                border-bottom-width: 1px;
            }

            &-end {
                @include responsive('md') {
                    margin-right: 2rem;
                    margin-left: 2rem;
                }

                .navbar-item {
                    margin-right: 2rem;
                }

                display: flex;
                margin-top: .5rem;
                margin-bottom: .5rem;
            }
        }
    }
}

.is-mobile {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
}

.navbar-logo>.navbar-item {
    @extend .navbar-item;

    &:hover {
        color: inherit;
    }
}
