@use "../vars";

.post-toc {
  @include vars.responsive('md'){
    grid-column: 11/14;
    display: block;
  }
  display: none;
  padding: 2rem 1.5rem 2rem 1.5rem;
  border-radius: vars.$radius-md;
  background-color: var(--color-body);

  #sticky_toc {
    margin-top: 0;
    border-block-start-width: .1rem;
    position: sticky;
    top: 8rem;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.3, 1);
    z-index: 0;
    // overflow-y: auto;
    // max-height: calc(100vh - 8rem);
    // scrollbar-width: none;

    ul,
    ol {
      padding-inline-start: 1.5rem;

      li {
        a {
          color: var(--color-font-aux);
          transition-duration: .2s;
          transition-timing-function: cubic-bezier(.4, 0, .3, 1);

          &:hover {
            color: var(--color-font-hover);
          }
          &.active {
            color: var(--color-font-hover);
          }
        }

        &+li {
          margin-top: 0.5rem;
        }
      }
    }

    ul {
      list-style-type: none;
    }

    ol {
      list-style-type: none;
    }
  }
}
