{{ define "main" }}
<main>
    <div class="post_bg">
        <div class="post_container">
            <div class="post_content">
                <header>
                    <div class="post_title">
                        <h1>{{ .Title }}</h1>
                    </div>
                    {{- partial "metadata" . -}}
                </header>
                <article class="markdown">
                    {{ .Content }}
                </article>
            </div>
            {{- partial "toc" . -}}
        </div>
    </div>
</main>
{{ end }}
