@import "../colors.scss";
@import "prism.scss";
@include prism-full;
@include prism-style;

.markdown {

    code,kbd,pre,samp{
        font-family: "Fira Code","JetBrains Mono","Courier New","Noto Mono","DejaVu Sans Mono",monospace;
    }

    h1{
        border-bottom-width: 1px;
        padding-bottom: 2rem;
    }

    pre {
        background-color: var(--color-body-aux);
        border-radius: $radius-sm;
        padding: 0 !important;
        position: relative;
        white-space: pre-wrap;

        &::before {
            content: attr(data-lang);
            position: absolute;
            right: 1rem;
            font-size: $font-lg;
            font-weight: 700;
            color: var(--color-font);
            opacity: .25;
        }

        code {
            display: block;
            font-variant-ligatures: normal;
            font-size: $font-sm;
            scrollbar-width: thin;
            color: currentColor;
            background-color: transparent;
            padding: .75rem 1.25rem;
            overflow: auto;
        }
    }

    :not(pre)>code {
        font-size: 90%;
        color: inherit;
        display: inline;
        background-color: var(--color-bg-aux);
        border-radius: $radius-sm;
        padding: 0.125rem 0.35rem 0.1rem;
    }

    strong {
        color: var(--color-font-title);
    }

    blockquote {
        font-size: $font-md;
        border-left-style: solid;
        border-left-width: 3px;
        border-color: #e3e6eb;
        padding: 0.75rem 1rem;
        color: var(--color-font-aux);
        background-color: var(--color-bg-active);
        margin: 1.5rem 0 1.5rem 1rem;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    ul {
        padding-left: 2rem;
        line-height: 1.6;
        margin: 0;
        list-style: disc;

        ul {
            list-style: circle;

            ul {
                list-style: square;
            }
        }

        &>li::marker {
            color: var(--color-font-aux);
            font-weight: 400;
        }
    }

    ol {
        list-style-type: decimal;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        margin: 0;
    }

    del {
        text-decoration: line-through;
    }

    table {
        scrollbar-width: thin;
        box-sizing: border-box;
        border-collapse: collapse;
        border-width: 1.2px;
        border-style: solid;
        word-break: break-word;
        border-color: #e3e6eb;
        overflow: auto;
        border-spacing: 0;
        width: max-content;
        margin: .75rem 1rem 1.5rem;
        display: table;
    }

    tbody>tr:nth-child(2n+1) {
        background-color: #f4f5f7;
    }

    th {
        font-weight: 700;
        color: #475c6e;
    }

    td,
    th {
        padding: .375rem .5rem;
        border: 1px solid #e3e6eb;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;

        &.lazyload {
            transition: filter .35s ease 0s; // blur

            &:not(.loaded) {
                -webkit-filter: blur(5px);
                filter: blur(5px);

                &:not(.loading) {
                    padding-bottom: 52.286%;
                }
            }
        }
    }

    .footnotes {
        font-size: $font-sm;
      }

}
