.header {
    background-color: $color-bg;
    box-shadow: $box-shadow;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    user-select: none;
    z-index: 5;
    flex: 0 0 auto;

    .navbar {
        height: 4.25rem;
        padding: 5px;
        display: flex;
        position: relative;

        &-logo {
            flex: 0 0 auto;
            font-weight: 500;

            h1 {
                margin: 0;
                font-size: 2rem
            }
        }

        &-item {
            display: inline-block;
            height: 38px;
            line-height: 42px;
            padding: 0 10px;
            border-radius: 4px;
            cursor: pointer;
            color: inherit;
            position: relative;
            transition: background-color 100ms ease;
            background-color: transparent;
            margin-left: 2px;

            &:hover {
                color: $color-font;
                background-color: $color-bg-hover;
                text-decoration: none
            }

            &:active {
                background-color: $color-bg-active;
            }

            &-active {
                color: $color-primary;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 60%;
                    left: 50%;
                    margin-top: -5px;
                    transform: translate(-50%);
                    height: 2px;
                    background-color: $color-primary
                }
            }
            i{
                margin-top: 1.5rem;
            }
        }

        &-menu {
            flex: 1 1 auto;
            display: flex;
            justify-content: space-between;
            font-size: 1.5em;
        }
    }

    .container {
        max-width: 985px;
        margin-left: auto;
        margin-right: auto;
    }
}
