/* COLOR VARIABLES */
$color-bg: white;
$color-body: #f2f2f2;
$color-font: #24292f;
$color-bg-hover: #f2f2f2;
$color-bg-active: #e6e6e6;
$color-primary: #8aa2d3;
$box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05)
