@mixin colors-common{
  --color-primary: #8aa2d3;
}

@mixin colors-light {
  // $color-bd: mix(#2e5da8, #fff, 5%);
  --color-bg: #f5f7fb;
  --color-bg-aux: #e6e8ee;
  // --color-body: #fdfdff;
  --color-body: #f5f7fb;
  --color-body-aux: #fafafa;
  --color-font: #1a1b1f;
  --color-font-aux: rgba(0,0,0,0.55);
  --color-font-hover: #8aa2d3;
  --color-font-title: #44474e;
  --color-border: #dadfe6;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

@mixin colors-dark {
  // --color-bg: #1a1b1f;
  --color-bg: #22242a;
  --color-bg-aux: #32343a;
  --color-body: #22242a;
  --color-body-aux: #282a36;
  --color-font: hsla(0,0%,100%,.87);
  --color-font-aux: hsla(0,0%,100%,.6);
  --color-font-hover: #8aa2d3;
  --color-font-title: #f7f7f7;
  --color-border: #34373d;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@mixin colors-full {
  :root {
    @include colors-common;
    @include colors-light;

    @media (prefers-color-scheme: dark) {
      @include colors-dark;
    }
  }

  body[data-theme='light'] {
    @include colors-light;
  }

  body[data-theme='dark'] {
    @include colors-dark;
  }
}

@mixin prism-light {
  --color-prism-grey: #999;
  --color-prism-blue: #07a;
  --color-prism-cyan: #8b81c3;
  --color-prism-entity: #708090;
  --color-prism-green: #690;
  --color-prism-yellow: #e90;
  --color-prism-orange: #9a6e3a;
  --color-prism-dpink : #905;
  --color-prism-pink: #d38aa2;
  --color-prism-red: #dd4a68;
}

@mixin prism-dark {
  --color-prism-grey: #93a1a1;
  --color-prism-blue: #95abd7;
  --color-prism-cyan: #bab1df;
  --color-prism-entity: #657b83;
  --color-prism-green: #8ec298;
  --color-prism-yellow: #e3c26a;
  --color-prism-orange: #ee869a;
}

@mixin prism-full {
  :root {
    @include prism-light;

    @media (prefers-color-scheme: dark) {
      @include prism-dark;
    }
  }

  body[data-theme='light'] {
    @include prism-light;
  }

  body[data-theme='dark'] {
    @include prism-dark;
  }
}
