/* COLOR VARIABLES */
$box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);

$md-title-font-size: (h1: 2.8rem, h2: 2.4rem, h3: 2rem, h4: 1.8rem, h5: 1.6rem, h6: 1.4rem);

$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;

$trans-fast: .1s;
$trans-slow: .3s;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: 700;

$font-xl: 2rem;
$font-lg: 1.8rem;
$font-md: 1.5rem;
$font-sm: 1.4rem;
$font-xs: 1.2rem;

$line-height-lg: 1.75;
$line-height-md: 1.5;
$line-height-sm: 1.25;

$family-cjk: 'Noto Sans SC', 'Noto Sans JP';
$family-latin: Inter, -apple-system, BlinkMacSystemFont;
$family-body: $family-latin, $family-cjk, sans-serif;
$family-mono: 'Fira Code', $family-cjk, monospace;

@mixin responsive($breakpoint) {
    @if $breakpoint == 'sm' {
      @media (min-width: 576px) {
        @content;
      }
    } @else if $breakpoint == 'md' {
      @media (min-width: 768px) {
        @content;
      }
    } @else if $breakpoint == 'lg' {
      @media (min-width: 992px) {
        @content;
      }
    }
  }

@mixin no-hyphens{
    -webkit-hyphens:none;
    -moz-hyphens:none;
    -ms-hyphens:none;
    hyphens:none
}
