*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

* {
    transition: background-color .1s ease-in-out;
}

a {
    text-decoration: none;
    background-color: transparent;
    // color:var(--link);
    cursor: pointer;
    // :hover{
    //     text-decoration: underline;
    //     color: aquamarine;
    // }
}

pre,
code,
kbd,
samp {
    font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin: 1.4em 0 .8em;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5,
h6 {
    font-size: 1em;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-size: 1.6rem;
    background-color: $color-body;
    display: block;
    overflow-x: hidden;
    color: $color-font;
    font-weight: 400;
    line-height: 1.5;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}


abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

.pagination {
    display: flex;
    justify-content: center;

    .page-item {
        display: flex;
        align-items: center;

        .page-link {
            margin: 1rem;
            padding: 1rem;
        }
    }
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button,
[role="button"] {
    cursor: pointer;
}

blockquote,
dl,
dd,
hr,
figure,
p,
pre {
    margin: 0;
}

// p, pre, ul, ol, dl, form, hr {
    // margin:1em 0 0.6em;
// }

.token.operator {
    background: none !important;
}
