.markdown {
    &>* {
        margin-bottom: 1.6rem;
    }

    h2 {
        line-height: 1.25;
        border-bottom-width: 1px;
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        margin-top: 2.5rem;
        padding-bottom: 1rem;
        color: $color-font;
    }

    h3 {
        line-height: 1.375;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        margin-top: 2.5rem;
        color: $color-font;
    }

    pre{
        background-color: $color-bg-tri;
        border-radius: 0.4rem;
        padding: 1rem !important;
        position: relative;
        margin: 0 !important;
        white-space: pre-wrap;

        &::before {
            content: attr(data-lang);
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 2.5rem;
            font-weight: 700;
            color: #64778b;
            opacity: .25;
        }

        code {
            display: block;
            background-color: transparent;
            padding: 0;
            overflow: auto;
            border-radius: 0;
        }
    }

    :not(pre)>code {
        font-size: 1.4rem;
        color: $color-text-tertiary;
        font-family: "Cascadia Code", "SF Mono", "Consolas", -apple-system, "PingFang SC", "Source Han Sans SC", monospace;
        display: inline;
        background-color: $color-bg-tri;
        border-radius: 0.35rem;
        padding: 0.125rem 0.35rem 0.1rem;
    }

    strong {
        font-weight: 600;
        color: $color-text-sec;
    }

    blockquote {
        font-size: 1.6rem;
        border-left-style: solid;
        border-left-width: 3px;
        border-color: #e3e6eb;
        padding: 0.75rem 1rem;
        color: $color-text-tertiary;
        background-color: #f4f5f7;
        margin: 1.5rem 0 1.5rem 1rem;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    ul,
    ol {
        padding-left: 2rem;
        line-height: 1.6;
        margin-top: 0;
        margin-bottom: 1.5rem;
        list-style-type: disc;

        &>li::marker {
            color: $color-text-tertiary;
            font-weight: 400;
        }
    }


}
