<!-- header.html -->
<header id="header" class="header">
    <nav class="navbar">
        <div class="navbar-logo">
            {{ if ( ne .Site.Title "" ) }}
            <a class="navbar-item" href="{{ .Site.BaseURL | relLangURL }}">
                <h1>{{ .Site.Title }} </h1>
            </a>
            {{ end }}
        </div>
        <button id="navbar-btn" class="navbar-btn">
            {{ partial "fontawesome.html" "bars" }}
        </button>
        <div id="menu" class="navbar-menu hidden">
            <div class="navbar-menu-start">
                {{ $relPermalink := .RelPermalink }}
                {{ range .Site.Menus.main }}
                {{ $url := .URL | relLangURL }}
                {{ $matchPage := hasPrefix $relPermalink $url}}
                <a class="navbar-item {{ if $matchPage }} navbar-item-active {{ end }}" href="{{ $url }}">{{ .Name | upper }}</a>
                {{ end }}
            </div>
            <div class="navbar-menu-end">
                <button id="toggle-mode" class="navbar-item theme-toggle" title="切换暗色模式" aria-label="切换暗色模式">
                    <span class="theme-icon light-icon">
                        {{ partial "fontawesome.html" "sun" }}
                    </span>
                    <span class="theme-icon dark-icon">
                        {{ partial "fontawesome.html" "moon" }}
                    </span>
                </button>
                <a class="navbar-item" title="订阅 XML" href="/index.xml">
                    {{ partial "fontawesome.html" "rss" }}
                </a>
            </div>
        </div>
        <div id="is-mobile" class="is-mobile hidden"></div>
    </nav>
</header>
