<div class="post_meta">
    <div class="post_meta_item">
        {{ partial "fontawesome.html" "calendar" }}
        <span>{{- printf "<time>%s</time>" (.Date.Format "2006-01-02") | safeHTML -}}</span>
    </div>
    <div class="post_meta_item">
        {{ partial "fontawesome.html" "book-open" }}
        <span>{{- printf "%d 字" .WordCount -}}</span>
    </div>
    <div class="post_meta_item">
        {{ partial "fontawesome.html" "clock" }}
        <span>{{- printf "%d 分钟" .ReadingTime -}}</span>
    </div>

    {{- if .Params.series -}}
    {{- with index (.GetTerms "series") 0 -}}
    <div class="post_meta_item">
        {{ partial "fontawesome.html" "list" }}
        <span> <a href="{{ .Permalink }}">{{ .LinkTitle }}</a></span>
    </div>
    {{- end -}}
    {{- end -}}

</div>
