.post,.list{

    &_container{
        display: grid;
        gap: 1rem;
        padding-top: 3rem;
        grid-template-columns: repeat(14, minmax(0, 1fr));
    }

    &_content{
        @include responsive('md'){
            grid-column: 2/11;
        }
        grid-column: 1/15;
        padding: 2rem 1.5rem;
        border-radius: $radius-sm;
        background-color: $color-bg;
    }
}

.pagination {
    display: flex;
    justify-content: center;

    .page-item {
        display: flex;
        align-items: center;

        .page-link {
            margin: 1rem;
            padding: 1rem;
        }
    }
}

.post-footer {
    padding-top: 1rem;
    display: flex;
    border-top-width: 1px;
    flex-direction: column;

    &-d {
        display: block;
        font-weight: bold;
    }

    &-r {
        margin-top: 1rem;
    }

    @include responsive(md) {
        justify-content: space-between;
        flex-direction: row;

        &-r {
            text-align: right;
            margin-top: 0;
        }
    }
}
